{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        [
            "lodash",
            {
                "id": [
                    "lodash",
                    "semantic-ui-react"
                ]
            }
        ],
        ["transform-react-jsx", { "pragma": "h" }]
    ]
}