.store-name {
	font-family: 'Euphoria Script';
}

.quote {
	margin: 15px 0 !important;
	color: #6d5440;
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-style: italic;
	font-weight: 200;
}

.opening-hours-header {
	font-family: 'Euphoria Script';
	font-size: 3em;
	letter-spacing: 2px;
}